* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow: hidden;
}
.btn {
    width:auto;
    border-radius: 0px;
    color: rgb(38,38,38);
}
.btn.btn-dusty {
    background-color: rgb(150,150,130);
    margin-bottom: 20px;
}
.btn.btn-dusty:hover {
    background-color: rgb(170,170,150);
}
.btn.btn-dusty.active {
    background-color: rgb(252,252,233);
}
.btn.btn-rusty {
    color: rgb(247, 181, 42);
    background-color: rgb(80, 30, 0);
    margin-bottom: 20px;
}
.btn.btn-rusty:hover {
    background-color: rgb(95, 45, 15);
}
.btn.btn-rusty:active {
    background-color: rgb(120,70,40);
}
.container {
    margin-top: 50px;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}
a:hover {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}
h3 {
    margin-bottom: 50px;
}
.label {
    font-weight: 800;
}
.form {
    background-color: rgba(120,70,40, 0.8);
    padding: 20px;
}
.container.light {
    margin-top: 0px;
}